
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Thin.subset.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-ExtraLight.subset.woff2") format("woff2");
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Light.subset.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Regular.subset.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Medium.subset.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-SemiBold.subset.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Bold.subset.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-ExtraBold.subset.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/font/pretendard/Pretendard-Black.subset.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}
body{
    margin: 0;
    font-family: Pretendard;
}
body[data-theme='light-mode'] {
    --layer: #fefefe;
    --blue: #0095ff;
    --purple: #e198ff;
    --yellow: #ffc000;
    --star: #ffc000;
    --text: #697183;
    --highlight: #141517;
    --green: #02d05d;
    --option1: #9cc202;
    --option2: #4fcaca;
    --option3: #ffc000;
    --option4: #7b53e2;
    --footer: #666;
    --border: rgba(0, 0, 0, 0.2);
    --union-border: rgba(255, 255, 255, 0.5);
    --union-background: #5b93c7;
    --btn-border: #acacac;
    --btn-background: #fefefe;
    --btn-background-active: #dcdcdc;
    --img-background: #cdcdcd;
    --modal-background: #292c35aa;
    --modal-content-background: #ffffff;
    --placeholder: #757575;
    --close: #929292;
    --input-text: #222;
    --input-text-background: #e9ebf1;
    --scrollbar-thumb: #787878;
    --scrollbar-track: #cdcdcd;

    --date-input-width: 100px;
    --date-picker-foreground: #16171c;
    --date-picker-background: #f7f7f7;
    --date-picker-highlight-border: hsl(var(--deg), 98%, 49%);
    --date-picker-highlight-shadow: hsla(var(--deg), 98%, 49%, 50%);
    --date-picker-selected-color: hsl(var(--deg), 100%, 85%);
    --date-picker-selected-background: hsla(var(--deg), 98%, 49%, 20%);
}

body[data-theme='dark-mode'] {
    --layer: #141517;
    --blue: #81c3d7;
    --purple: #7b53e2;
    --yellow: #e4ce00;
    --star: #e4ce00;
    --text: rgb(201, 206, 220);
    --highlight: #ffffff;
    --green: rgba(0,255,163,.9);
    --option1: #9cc202;
    --option2: #4fcaca;
    --option3: #e4ce00;
    --option4: #7b53e2;
    --footer: #9da5b6;
    --border: rgba(255, 255, 255, 0.1);
    --union-border: rgba(255, 255, 255, 0.5);
    --union-background: #375774;
    --btn-border: #cdcdcd;
    --btn-background: #292c35cc;
    --btn-background-active: #797979;
    --img-background: #acacac;
    --modal-background: #292c35aa;
    --modal-content-background: #24272b;
    --placeholder: #757575;
    --close: #929292;
    --input-text: #dfe2ea;
    --input-text-background: #2e3033;
    --scrollbar-thumb: #2f3542;
    --scrollbar-track: grey;

    --date-input-width: 100px;
    --date-picker-foreground: #f7f7f7;
    --date-picker-background: #16171c;
    --date-picker-highlight-border: hsl(var(--deg), 98%, 49%);
    --date-picker-highlight-shadow: hsla(var(--deg), 98%, 49%, 50%);
    --date-picker-selected-color: hsl(var(--deg), 100%, 85%);
    --date-picker-selected-background: hsla(var(--deg), 98%, 49%, 20%);
}
#routify-app{
    display: flex;
    flex-direction: column;
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

.blue{
    color: var(--blue);
}
.purple{
    color: var(--purple);
}
.yellow{
    color: var(--yellow);
}
.star{
    color: var(--star);
}
.highlight{
    color: var(--highlight);
}
.green{
    color: var(--green);
}
.option1{
    color: var(--option1);
}
.option2{
    color: var(--option2);
}
.option3{
    color: var(--option3);
}
.option4{
    color: var(--option4);
}
.novice{
    color: #b1703a;
}
.veteran{
    color: #b5b5bd;
}
.master{
    color: #ffd700;
}
.grand-master{
    color: #a840ff;
}
.supreme{
    background: linear-gradient(to bottom, #8A2BE2, #00B5E3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}